<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="frontmx-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerClientes"
               url= "http://services.odata.org/V4/Northwind/Northwind.svc/Productos"
               handle-as ="json"
               on-response = "mostrarProductos">


    <div>
      <label for = ""></label>
      <input type = "text">

    </div>
    <input type="text" value="{{prop1::input}}"/>
    <input type="text" value="[[prop1::input]]"/>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontmx-app'
          }
        };
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
